/* Estilos personalizados para la barra lateral */
.sidenav-trigger {
    display: none; /* Ocultar el ícono de menú en pantallas grandes */
}


/* Small only */
@media screen and (max-width: 39.9375em) {
    .sidenav-trigger {
        display: block; /* Mostrar el ícono de menú en pantallas pequeñas */
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up */
@media screen and (min-width: 64em) {


}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}

/*//////////////////////////REGLAS GENERALES //////////////////////////////////////////////////////*/

nav {
    color: #fff;
    background-color: #000000 ;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

nav .brand-logo {
  margin-left: 1em !important;
  margin: 0 auto;
}

#buscador{
    width: 100%;
    background-color: #000000;
}

.buscador{
    margin-left: 32.25rem !important;
    margin-right: 12.25rem !important;
}
#articulo{
    
    color: #fff;
}

/* Agregar estilos para el menú desplegable */
.dropdown-content li {
    clear: both;
    color: #333;
    display: block;
    padding: 10px 20px;
    white-space: nowrap;
}

.dropdown-content li:hover {
    background-color: #f0f0f0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
    border: 1px solid #ccc;
}

.dropdown-content li a {
    color: #333;
}

.dropdown-content li a:hover {
    color: #333;
}
